main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96vh;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    #clock{
      font-size: 70px;
      font-weight: 800;
    }
    #color {
      font-size: 20px;
      font-family: ;
    }
  }
}
